HTML{
  BACKGROUND-IMAGE: none;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 250px;
}

#navbarNav{
  FLEX-DIRECTION:ROW-REVERSE;
  JUSTIFY-CONTENT:FLEX-START;
  PADDING-RIGHT:70PX;
}

.nav-item{
  TEXT-INDENT:200PX;
  FONT-FAMILY: 'Inconsolata', Times New Roman;
}

.navbar.bg-light{
  background-color:transparent !important;
}
.INDEX:HOVER{
  COLOR:#5295B6 !important;
}

.WEBFLOW:HOVER{
  COLOR:#E3CAAB !important;
}

.CONTACT:HOVER{
  COLOR:#8C52FF !important;
}
.WEBFLOW:ACTIVE{
  COLOR:#E3CAAB !important;
}
/* EMPTY DIV */
.EMPTY{
  BORDER-STYLE:NONE;
  HEIGHT:100PX ;
  WIDTH:0PX AUTO;
}
.EMPTY2{
  MARGIN-BOTTOM:5REM;
}
/* EMPTY DIV*/


/* JUMBOTRON */
.CONTAINER.mt{
  MARGIN-TOP:200PX !important;
}

h1{
 FONT-FAMILY: 'Playfair Display', serif !important; 
}
.text-start{
  TEXT-ALIGN:START;
  
}
.QUOTE{
  FONT-FAMILY: 'Inconsolata', Times New Roman !important;
  FONT-SIZE:23PX;
}

.QUOTE2{
  FONT-FAMILY: 'Inconsolata', Times New Roman !important;
  FONT-SIZE:23PX;
}
A{
 COLOR:BLACK;
 TEXT-DECORATION:NONE;
 BORDER-BOTTOM:NONE!;
}

.QUOTE:HOVER{
 COLOR:#5295B6;
 
}

.QUOTE2:HOVER{
 COLOR:#E3CAAB;
}
.AUTHOR:HOVER{
  COLOR:#8C52FF;
}
A:ACTIVE{
 COLOR:BLACK;
}
P{
 WHITE-SPACE:PRE-LINE;
}
/* JUMBOTRON */

/* ACCORDIAN / CONTACT FORM */
.accordion-item{
  BORDER:NONE;
}

.accordion-button:not(.collapsed) {
  FONT-FAMILY: 'Playfair Display', serif;
  LETTER-SPACING:.4REM;
  FONT-SIZE:35PX;
  PADDING:1.5REM 30REM;
  COLOR:BLACK;
  BACKGROUND-COLOR: WHITE;
}
 
.accordion-body{
PADDING:3REM 5REM;
}

form{
  FONT-FAMILY:'Inconsolata', Times New Roman ;
}

.form-text{
  MARGIN-TOP:3REM;
}

.BEGINNING:HOVER{
  COLOR:#5295B6;
}
.btn-outline-dark{
 
 COLOR: BLACK;
 COLOR: #212529;
 BORDER-COLOR: #212529;
 
}

/* WEB FLOW CONTENT*/

SECTION{
  DISPLAY:FLEX;
  FLEX-DIRECTION:ROW-REVERSE;
  JUSTIFY-CONTENT:CENTER;
  WIDTH:0 AUTO ;
  HEIGHT:0 AUTO;
}

.mt-3{
 MARGIN-TOP:6REM !important;
 
}
.ms-5{
 MARGIN-LEFT:7REM !important;
}
.me-5{
 MARGIN-RIGHT:7REM !important;
}
.card-header{
  BACKGROUND-COLOR: TRANSPARENT !important;
  FONT-FAMILY:'Playfair Display', serif !important; 
  LETTER-SPACING:.3REM;
}

lI{
  FONT-FAMILY:'Inconsolata', Times New Roman !important;
  LIST-STYLE-TYPE:NONE;
  WHITE-SPACE:BREAK-SPACES;
  LETTER-SPACING:.3REM;}


   .BLUE{ 
    background: linear-gradient(120deg, #5295B6 0%, #5295B6 100%) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 40% !important;
    background-position: 0 90% !important;
  }
  .BEIGE{
    background: linear-gradient(120deg, #E3CAAB 0%, #E3CAAB 100%) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 40% !important;
    background-position: 0 90% !important;

  }

  .PURPLE{
    background: linear-gradient(120deg, #8C52FF 0%, #8C52FF 100%) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 40% !important;
    background-position: 0 90% !important;

  }

  @media screen and (max-width: 523px){
    .card{
      margin-top: 25px;
    }
  }